@media screen and (max-device-width: 840px) {
    .liststyle {
        width: 100vw !important;
        margin: auto !important;
        height: auto !important;
        overflow-y: scroll !important;
        float: none !important;
    }
    .parametersCardStyle {
        width: 60em !important;
        margin: 1em !important;
    }
}

.centeredcontent {
    padding: 2em;
    text-align: center;
}

.mapstyle {
    height: calc(100vh - 4em);
    width: calc(100vw - 25em);
}

.root {
    margin: 4em 0em 0em 0em;
    float: right;
}

.liststyle {
    width: 25em;
    margin: 0em 0.1em 3em 0.1em;
    float: left;
    height: calc(100vh - 30em);
    overflow-y: auto;
}

.bodystyle {
    display: flex;
}

.menustyle {
    position: fixed;
    width: 100%;
    margin-bottom: 5em;
    z-index: 100;
}

.paperstyle {
    max-height: 30em;
    width: 22.2em;
    margin: 1em 0.5em 0.5em 0.2em;
    padding: 1em 1em;
    text-align: left;
    display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
}

.thresholdStyle {
    float: left;
}

.sliderStyle {
    padding-top: 1em;
    padding-left: 1em;
    float: left;
    width: 15em;
}

.showScroll {
    overflow-y: auto;
    height: 9em;
}

.actionStyle {
    margin-left: auto;
    text-align: center;
    padding: 0.5em 0.5em 0.5em 5em;
    position: fixed;
    bottom:0;
    z-index: 100;
    background-color: #ffffff;
}

.buttonStyle {
    margin-top: 1em;
    margin-left: 1em;
    float: left;
    width: 45%;
}

.counterText {
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    text-align: left;
}

.cardMargin {
    margin: 1em 0.1em 0.5em 1.1em;
    width: 22em;
}

.select {
    margin-top: 2em;
}

.textField {
    width: 9em;
}

.parametersCardStyle {
    max-height: 16em;
    overflow-y: auto !important;
    overflow-x: auto !important;
    width: 24em;
    margin: 1em 0em 0.5em 1em;
    padding: 0.2em 0.2em 0.2em 0em !important;
    top: 7.3em;
    z-index: 100;
    background-color: #ffffff;
    display: inline-block !important;
}

.searchButtonsStyle {
    padding: 0.5em;
}