.layersButton {
    position: absolute;
    right: 1em;
    top: 9em;
    z-index: 1;
    background-color: #5f99c1;
}

.layersButtonText {
    font-weight: bold;
    color: white;
}

.layersCloseButton {
    color: white !important;
}

.layersCloseButtonDiv {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 5;
}

.layersHeader {
    background-color: #467A9E !important;
    color: white !important;
    padding: 1em !important;
    font-size: 120% !important;
}

.drawerSettings {
    left: auto !important;
    right: 0 !important;
    margin-top: 8.25em;
}

.drawerSettings:before {
    background: none !important;
    right: 0 !important;
}

nav {
    left: auto !important;
    right: 0 !important;
    width: 30em !important;
}

div > span > aside {
    width: 20em !important;
}

.layersDrawerClass {
    visibility: hidden;
}

.exploreCard {
    width: 21em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

@media screen and (max-device-width: 840px) {
    .layersButton {
        visibility: hidden;
    }

    .exploreCard {
        width: 100% !important;
        margin-left: 0.5em !important;
    }

}

.checkboxWidth {
    width: 1em;
}

.checkboxLabel {
    margin-left: 1.1em;
}

.col {
    margin-left: 1em;
    margin-top: 0.6em;
    margin-bottom: -0.5em;
    width: 90%;
}

.sliderStyle {
    margin-left: 4em;
    margin-top: 0.6em;
    width: 20em;
}

.leftColumnExplore {
    width: 24em;
    margin: 0em 0em 3em 1em;
    float: left;
    height: calc(100vh - 12em);
    overflow-y: auto;
}

.listHeaderStyle {
    font-size: x-large !important;
}

.layersLegendDetails {
    padding-left: 1em;
    font-size: smaller;
}

.layersLegendText {
    padding: 0.5em 1em;
}

img[src=""] {
    display: none;
}

.layersGroup {
    padding: 1em;
}

.layersGroupTitle {
    padding-left: 1em;
}

.exploreButton {
    width: 4em !important;
    height: 2em !important;
    font-weight: bold;
    margin: 0.2em;
    z-index: 0;
}

.exploreButtonText {
    color: white;
    text-shadow: black 0.1em 0.1em 0.1em
}

.regionLabel {
    position: relative;
    cursor: help;
    padding: 4px;
    margin-left: 5px;
    display: inline-block;
    font-weight: bold;
}

.regionLabel:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 10px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
    left: 50%;
    -ms-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -webkit-transform: translateX(-20%);
    transform: translateX(-20%);
    top: 100%;
    margin-top: 6px;
}

/* Tooltip arrow styling/placement */
.regionLabel:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 50%;
    margin-left: -6px;
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}

/* Show the tooltip when hovering */
.regionLabel:hover:before,
.regionLabel:hover:after {
    display: block;
    z-index: 50;
}


.tabBackground {
    background: #F5F5F5;
    padding: 1em 0;
    width: calc(100vw + 1.3em);
}

.tabTextStyle {
    font-size: x-large;
    font-weight: bold;
}

.tabTextStyleDisabled {
    font-size: x-large;
    font-weight: bold;
    color: #a9a9a9;
}
