.container {
    background: lightblue;
    display: table;
    width:100%;
}
        
input[type=button] {    
    vertical-align: middle;
    display: block;
    width: 50%;
    margin: 0 auto;
}
        
.button-wrapper {
    background: darkorange;
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-device-width: 840px) {
    .add {
        margin-top: 1em !important;
        margin-left: 50% !important;
    }
}

.add {
    margin: 1em 1em 1em 13em;
}

.inline {
  display: inline-block;
}
