.root { 
	display: inline-block;
	width: 300px;
	height: 500px;
	border: 1px black solid;
	margin: 50px;
	padding: 10px;
	background: white;
	overflow: auto;
}

.select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 280px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.listspacing {
    float: left;
    font-size: smaller;
    width: 100%;
    overflow-y: auto;
}

.close_button_collapsed_card {
    float: right;
    width: 1em;
    cursor: pointer;
    padding-left: 0.33em;
}

.close_button_open_card {
    float: right;
    width: 1.5em;
    cursor: pointer;
    padding-top: 0.5em;
}

.right {
    float: right;
    width: 1em;
    cursor: pointer;
}

.left {
    float: left;
    width: 15em;
}
.closeIcon {
   color: red;
}

@media screen and (max-device-width: 840px) {
    .filter_card {
        width: 100% !important;
        margin-left: 0.5em !important;
    }
}

.filter_card {
    width: 20em;
    margin: 1em 0em 0em 0em;
    padding: 0.5em 1em 1em 1em;
    text-align: left;
    display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
}

.select_all {
    margin-top: 0.6em;
    margin-bottom: -0.5em;
    width: 80%;
}

.draw_location_style {
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.title_card{
    fontSize: 15px;
    fontWeight: bold;
    text-transform: capitalize;
}

.radio{
    line-height: 1em;
    padding: 0em 1em 0em 1em;
}

hr.divider_style {
    border-top: 0.5em double #808080;
    width: 16em;
}

.edit_filter_button {
    cursor: pointer;
    margin: auto;
}