.root { 
	display: inline-block;
	width: 300px;
	height: 500px;
	border: 1px black solid;
	margin: 50px;
	padding: 10px;
	background: white;
	overflow: auto;
}

.select {
	margin-bottom: 10px;

	   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 280px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

.listspacing {
    float: left;
}

.right {
    float: left;
    width: 1em;
}

.left {
    float: left;
    width: 15em;
}

.paperstyle {
    height: 30em;
    width: 20em;
    margin: 3em 2em;
    padding: 1em 1.5em;
    text-align: left;
    display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
}

.select_all_style {
    margin-top: 0.6em;
    width: 80%;
}
