.root {
    height: calc(100vh - 4em);
    width: calc(100vw - 25em);
    cursor: pointer;
}

.marker {
	width: 20px;
	height: 20px;
	border: 1px solid #088;
	border-radius: 10px;
	background-color: #0FF;
	opacity: 0.5;
}

.olPopup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  border-radius: 10px;
  bottom: 12px;
  left: -50px;
  min-width: 22em;
  font-size: 80%;
  cursor: default;
}
.olPopup:after, .olPopup:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.olPopup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.olPopup:before {
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.olPopupCloser {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.olPopupCloser:after {
  content: "✖";
  color: #ffffff;
}
.olCenterButton {
  bottom: 5px;
  left: .5em;
  border-radius: 2px 2px 0 0;
}

.tablestyle {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0.4em;
  width: 100%;
  padding-left: 0.5em;
}

.header2style {
  text-align: center;
  color: #ffffff;
  padding: 0.5em;
  border-radius: 0.5em 0.5em 0em 0em;
  font-weight: lighter;
}

.header3style {
  padding: 0.2em 0.2em 0.2em 1em;
  background-color: #dcdcdc;
}

.greyborder {
  border-bottom: 0.2em solid #808080;
  min-height: 0;
}

.paramsborder {
  padding-left: 2.5em;
  margin-bottom: 0.5em;
  max-height: 6em;
  overflow-y: auto;
  line-height: 1.5em;
}