.root {
    height: calc(100vh - 8em);
    width: calc(100vw - 25em);
    cursor: pointer;
}

.marker {
    width: 20px;
    height: 20px;
    border: 1px solid #088;
    border-radius: 10px;
    background-color: #0FF;
    opacity: 0.5;
}

.upArrow {
    text-align: center;
    padding-top: 1em;
    font-size: larger;
    font-weight: bold;
    margin-top: 2.5em;
    position: relative;
    width: 4.9em;
    height: 3.5em;
    border-radius: 0% 0% 10% 10%;
}

.upArrow:before {
    content: '';
    border-width: 0em 2.4em 2.2em 2.5em;
    border-color: transparent;
    border-bottom-color: inherit;
    border-style: solid;
    position: absolute;
    width: 0em;
    height: 0em;
    left: 0em;
    top: -2.2em;
}

.downArrow {
    text-align: center;
    padding-top: 1.5em;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2.5em;
    position: relative;
    width: 4.9em;
    height: 3.5em;
    border-radius: 10% 10% 0% 0%;
}

.downArrow:before {
    content: '';
    border-width: 2.2em 2.5em 0em 2.4em;
    border-color: transparent;
    border-top-color: inherit;
    border-style: solid;
    position: absolute;
    width: 0em;
    height: 0em;
    left: 0em;
    bottom: -2.15em;
}

.noValue {
    text-align: center;
    padding-top: 1.8em;
    font-size: larger;
    font-weight: bold;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

.upArrowLegend {
    border-bottom: 1em solid;
    border-bottom-color: inherit;
    border-right: 0.5em solid transparent !important;
    border-left: 0.5em solid transparent !important;
    display: inline-block;
}

.downArrowLegend {
    border-top: 1em solid;
    border-top-color: inherit;
    border-right: 0.5em solid transparent !important;
    border-left: 0.5em solid transparent !important;
    display: inline-block;
}

.noValueLegend {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: inline-block;
}

.viewdetail {
    color: white;
    text-align: center;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0em 0em 0.5em 0.5em;
    font-weight: lighter;
}

.viewsitedetail {
    text-align: center;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: lighter;
}

.regionPopupText {
    text-align: center;
    font-size: smaller;
    font-weight: 600;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 0.5em;
}

.regionPopup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    border-radius: 10px;
    bottom: 12px;
    left: -50px;
    display: inline-block;
    min-width: 10em;
    cursor: default;
}

.regionPopup:after, .regionPopup:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.regionPopup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.regionPopup:before {
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.regionPopupCloser {
    text-decoration: none;
    position: absolute;
    top: 9px;
    right: 8px;
    color: #ffffff;
}

.regionPopupCloser:after {
    color: #ffffff;
}

.locations_text_style {
    float: left;
}

.dialog_style {
    z-index: 10;
}

.list_style {
    padding-left: 2em;
    list-style: none;
}

.map_style {
    height: 20em;
    width: 20em;
}
