.root {
  margin: 5em 1em 1em 25em;
  position: fixed;
  width: calc(70% - 5em);
}

.liststyle {
  width: 23.5em;
  margin: 3.6em 1em 3em 1em;
  float: left;
  height: calc(100vh - 150px);
  overflow-y: auto;
}

.bodystyle {
  display: flex;
}

.menustyle {
  position: fixed;
  width: 100%;
  margin-bottom: 5em;
  z-index: 1;
}

.downloadstyle {
  margin-left: auto;
  padding-left: 5em;
  width: 25em;
  position: fixed;
  bottom:0;
  z-index: 100;
  background-color: #fff;
}
