.list {
    width: 24em;
    margin: 4em 0em 3em 1em;
    float: left;
    height: calc(100vh - 12em);
    overflow-y: auto;
}

.bottomSection {
    margin-left: auto;
    padding: 0.5em 0em 0.5em 1em;
    width: 24em;
    bottom: 0;
    position: absolute;
    background-color: #fff;
}