.root {
  margin: 5em 1em 1em 25em;
  position: fixed;
  width: calc(70% - 5em);
}

.cardsize {
  width: 23.5em;
  margin: 3.6em 1em 1em 1em;
  float: left;
  max-height: 42em;
  overflow-y: auto;

}

.nonmenustyle {
  display: flex;
}

.menustyle {
  position: fixed;
  width: 100%;
  margin-bottom: 5em;
  z-index: 1;
}
