.dateWrapper {
    width: 50%;
    display: inline-block;
}

.yearWrapper {
    width: 730px;
    display: inline-block;
    margin-top: 20px;
}

.start {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.end {
    display: inline-block;
    margin-left: 20px;
}
