.wrapperStyle {
    display: inline-block;
    width: 730px;
    margin-top: 20px;
}

.start {
    display: inline-block;
    margin-right: 20px;
}

.end {
    display: inline-block;
    margin-left: 20px;
}
