
.liststyle {
    width: 25em;
    margin: 3.6em 0.1em 3em 0.1em;
    float: left;
    height: calc(100vh - 4em);
    overflow-y: auto;
}

.paperstyle {
    max-height: 30em;
    width: 22.2em;
    margin: 1em 0.5em 0.5em 0.2em;
    padding: 1em 1em;
    text-align: left;
    display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
}

.cardMargin {
    margin: 1em 0.1em 0.5em 0.1em;
    width: 22em;
}

.buttonstyle {
    width: 20em;
    padding: 1em;
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 2em;
}

