
.liststyle {
    width: 25em;
    margin: 3.6em 0.1em 3em 0.1em;
    float: left;
    height: calc(100vh - 4em);
    overflow-y: auto;
}

.paperstyle {
    max-height: 30em;
    width: 22.2em;
    margin: 1em 0.5em 0.5em 0.2em;
    padding: 1em 1em;
    text-align: left;
    display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
}

.cardMargin {
    margin: 1em 0.1em 0.5em 0.1em;
    width: 22em;
}

.buttonstyle {
    width: 20em;
    padding: 1em;
    display: inline-block;
    margin-left: 2em;
    margin-bottom: 2em;
}

.detailListStyle {
    width: 25em;
    margin: 3.6em 0.1em 3em 0.1em;
    padding-top: 20em;
    float: left;
    height: calc(100vh - 4em);
    overflow-y: auto;
}

.detailChart {
    margin-top: 4em;
    margin-left: 1em;
    float: left;
}

.detailTitle {
    padding: 0.2em 0.2em 0.2em 1em !important;
    width: 100%;
    position: absolute;
    top: 10;
    z-index: 100;
    background-color: #ffffff;
}

.list_style {
    padding-left: 2em;
    list-style: none;
}
