.root {
    display: inline-block;
    width: 300px;
    height: 500px;
    border: 1px black solid;
    margin: 50px;
    padding: 10px;
    background: white;
    overflow: auto;
}

.select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 280px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

.listspacing {
    float: left;
    font-size: smaller;
    width: 100%;
    overflow-y: auto;
}

.close_button_collapsed_card {
    float: right;
    width: 1em;
    cursor: pointer;
}

.close_button_open_card {
    float: right;
    width: 1.5em;
    cursor: pointer;
    padding-left: 0.33em;
}

.right {
    float: right;
    width: 1em;
    cursor: pointer;
}

.left {
    float: left;
    width: 15em;
}

.closeIcon {
    color: red;
}

.descriptiveIconBefore {
    float: left;
    margin-right: 0.2em;
    margin-top: 0.2em;
}

.descriptiveIconChoice {
    float: left;
    margin-right: 0.2em;
}

.descriptiveIconChoiceInvert {
    float: left;
    margin-right: 0.2em;
    color: #FFFFFF;
    background: #000000;
    border-radius: 100%;
}

.subtitleSpacing {
    padding: 0.2em 0.6em 0;
}

.filter_card {
    width: 22em;
    margin: 1em 0 0 0;
    padding: 0.5em 1em 1em 1em;
    text-align: left;
    display: inline-block;
    overflow-y: auto;
    overflow-x: auto;
}

.select_all {
    margin-top: 0.6em;
    margin-bottom: -0.5em;
    width: 80%;
}

.draw_location_style {
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.radio {
    line-height: 1em;
    padding: 0 1em 0 1em;
}

hr.divider_style {
    border-top: 0.5em double #808080;
    width: 16em;
}

.edit_filter_button {
    cursor: pointer;
    margin: auto;
}

@media screen and (max-device-width: 840px) {
    .filter_card {
        width: 100% !important;
        margin-left: 0.5em !important;
    }

    .closeIcon {
        font-size: larger;
    }

    .descriptiveIconBefore {
        font-size: larger;
        margin-top: 0;
    }

    .descriptiveIconChoice {
        font-size: larger;
    }

    .descriptiveIconChoiceInvert {
        font-size: larger;
    }

    section > div > input {
        font-size: larger;
    }

    section > h2 {
        line-height: unset !important;
    }

    .close_button_open_card, .close_button_collapsed_card {
        float: right;
        width: 1em;
        cursor: pointer;
        padding-left: 0 !important;
    }

    .close_button_open_card {
        font-size: larger;
    }

    a.edit_filter_button > i {
        font-size: xx-large !important;
    }
}

.filterPills {
    border: #FFFFFF;
    margin: 0.2em;
    padding: 0.2em;
    border-radius: 0.5em;
    background-color: #D4DCE7;
    width: 10em;
}