.tabBackground {
    background: #F5F5F5;
    padding: 1em 0;
    width: calc(100vw + 1.3em);
}

.tabTextStyle {
    font-size: xx-large;
    font-weight: bold;
}

.tabTextStyleDisabled {
    font-size: xx-large;
    font-weight: bold;
    color: #a9a9a9;
}