.custom_header {
    text-align: center;
    font-size: 120%;
    margin: 1em;
    font-family: 'Open Sans', sans-serif;
}

.custom_about_header_wrapper {
    z-index: 75;
    height: 100px;
    border-style: none;
    background-color: #17495B;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.custom_about_header {
    color: #D7E3E7;
    letter-spacing: 0;
    font-family: open-sans, sans-serif;
    font-size: 45px;
    padding: 10px;
    position: relative;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom_about_header_image {
    position: relative;
    height: 480px;
    overflow: hidden;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
}

.custom_about_header_no_image {
    height: 100px;
}

.custom_background_01 {
    background: url("../../theme/sunset-large.jpg") no-repeat center center;
}

.custom_background_02 {
    background: url("../../theme/river-barge.jpg") no-repeat center center;
}

.custom_other_header_image {
    position: relative;
    height: 380px;
    overflow: hidden;
    background: url("../../theme/flood.jpg") no-repeat center center;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
}

.custom_header_second {
    font-size: 200%;
    line-height: 45px;
    color: #C69C6D;
    text-align: justify;
    display: block;
}

.custom_header_second_center {
    text-align: center;
}

.custom_header_third {
    font-size: 150%;
    font-weight: bold;
    color: #A98244;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    width: auto;
    text-align: justify;
    display: block;
    margin: 0em 2em;
}

.custom_header_fourth {
    color: #A67C52 !important;
    margin-left: 1em !important;
    font-size: large !important;
}

.custom_paragraph {
    text-align: justify;
    display: block;
    margin: 1em 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 220%;
}

.custom_subparagraph {
    text-align: justify;
    display: block;
    margin: 0em 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    line-height: 220%;
}

.custom_section_paragraph {
    text-align: justify;
    display: block;
    margin: auto;
    padding: 0em 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 220%;
    color: #A67C52;
}

.custom_welcome_paragraph {
    color: rgb(255, 255, 255);
    text-align: justify;
    display: block;
    margin: auto;
    padding: 0em 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 220%;
    width: 50%;
    float: left;
}

.custom_page {
    margin: 2em auto;
    max-width: 75em;
}

.custom_button {
    text-align: center;
    margin: 2em;
}

.custom_list {
    padding: 2em;
    background-color: #E6EFF2;
}

.custom_links {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.custom_list_items {
    height: unset !important;
}

.custom_list_color {
    color: #03688D;
}

.custom_logo {
    z-index: 76;
    position: relative;
    top: -1em;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom_image_side_by_side {
    height: 500px;
    display: inline-block;
    margin: 1.2em auto;
}

.custom_image_right_side {
    margin: 4em 1em 0em 1em;
    max-height: 60%;
}

.custom_image_overlap_below {
    position: relative;
    margin: 1em;
    max-height: 75%;
    right: 0.4em;
}

.custom_image_overlap_above {
    position: absolute;
    top: 25em;
}

.custom_section_wrapper {
    position: relative;
    min-height: 400px;
    overflow: hidden;
    background-color: #E6EFF2;
    border: solid #A67C52 1px;
    text-align: center;
}

.custom_flex_sections {
    display: flex;
}

.custom_flex_sections > div {
    flex: 1;
}

.custom_left_text {
    text-align: justify;
    display: block;
    font-family: open-sans, sans-serif;
    margin: 2em 1em;
}

.custom_left_text_font_01 {
    text-align: justify;
    display: block;
    color: #A67C52;
    margin: 2em 1em;
    font-size: 18px;
    line-height: 31px;
    font-weight: 600;
}

.custom_left_text_font_02 {
    font-size: 16px;
    line-height: 20px;
    color: #A67C52;
}

.custom_center_text {
    top: 0;
    left: 276px;
    border-left: 1px solid black;
    padding-left: 10px;
    text-align: left;
    color: #03688D;
    font-size: 19px;
    line-height: 24px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    margin: 1em;
}

.custom_section_height {
    height: 45em;
}

.faqSection {
    margin: 40px 0;
    position: relative;
}

.faqSection p {
    display: none;
}

.faqSection input {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    display: none \9; /* IE8 and below */
    margin: 0;
    width: 100%;
    height: 36px;
}

.faqSection label + p {
    display: block;
    color: #999;
    font-size: .85em;
    /* Clipping text */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*Answer*/
.faqSection input[type=checkbox]:checked ~ p {
    display: block;
    color: #444;
    font-size: 1em;
    /* restore clipping defaults */
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}

.faqSection label {
    font-size: 1.4em;
    background: #eee;
    display: block;
    position: relative;
    padding: 7px 10px;
    font-weight: bold;
    border: 3px solid #1a8bb3;
}

.faqSection label::-moz-selection { /* remove text selection when toggle-ing */
    background: none;
}

.faqSection label::selection {
    background: none;
}

.faqSection label:hover {
    background: #f5f5f5;
}

.faqSection input[type=checkbox]:checked ~ label {
    background: #eee;
    border: 3px solid #008148;
}

.faqSection label::before {
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit;
}

.faqSection input[type=checkbox]:checked ~ label::before {
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;
}

.faqSectionAnswers {
    font-size: 1.4em !important;
    margin-left: 2em;
}

.customInfoBoxes {
    float: left;
    margin-left: 1.5em;
}

.custom_welcome_page_section {
    background-color: #384B59;
    float: left;
    padding-bottom: 2em;
}

.custom_hr_settings {
    border-color: white;
}

.custom_hr_parent_settings {
    width: 100%;
    color: rgb(255, 255, 255);
    border-color: white;
    z-index: 5;
    margin-top: 2.5em;
    position: absolute;
}

.custom_link_styling {
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: underline;
}

.custom_carousel_holder {
    padding: 0 3em 5em 3em;
    margin-left: -1em;
    margin-right: -1em;
    background-image: url(https://s3.amazonaws.com/media-p.slid.es/uploads/1087052/images/6310729/water-map-bkg.jpg);
}

.custom_carousel_title {
    color: #FFFFFF;
    padding: 0.5em;
}

.custom_carousel_link {
    color: #FFFFFF;
    text-decoration: underline;
    float: right;
    font-size: small;
    margin-right: 1.5em;
    font-weight: bold;
}

.custom_carousel_container {
    max-width: 95%;
    padding: 2em 1em !important;
}

.custom_nav_icons_position {
    margin-left: 5em !important;
}

@media only screen and (max-width: 1300px) {
    .custom_carousel_container {
        max-width: unset;
        padding: 2em !important;
    }
}

.custom_popup {
    min-width: 20em !important;
    min-height: 5em !important;
    padding: 1em;
}

.custom_popup_closer {
    color: red;
}

.custom_popup_title {
    font-weight: bold;
}
