.header_container {
    width: 100%;
    height: 132px;
    color: #d7e3e7;
    margin: 0 auto;
}

.header_banner {
    width: 100%;
    height: 132px;
    margin: 0 auto;
    background: -webkit-gradient(linear, center top, center bottom, #6396b2, color-stop(100%, white));
    background: -webkit-linear-gradient(top, #6396b2, white 100%);
    background: -moz-linear-gradient(top, #6396b2, white 100%);
    background: -ms-linear-gradient(top, #6396b2, white 100%);
    background: -o-linear-gradient(top, #6396b2, white 100%);
    background: linear-gradient(to bottom, #054455, #467A9E);
    filter: progid:DXImageTransform.Microsoft.gradient(startColor=rgb(99, 150, 178), endColorstr=#FFFFFF, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6396B2', endColorstr='#FFFFFF', GradientType=0)";
    text-align: center;
}

.header_image {
  width: 90px;
  margin-left: 1.6em;
  z-index: 32;
  margin-right: -10000px;
  margin-top: 1.65em;
  float: left;
}

.header_title {
    z-index: 63;
    width: 570px;
    min-height: 75px;
    margin-right: -10000px;
    margin-top: 15px;
    margin-left: -35px;
    left: 161px;
    display: inline;
    float: left;
    text-align: left;
    position: relative;
}

.header_title_text{
    font-family: 'Gentium Book Basic', serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-weight: 100;
    margin-left: 0.5em;
    margin-top: 0.2em;
}

.header_subtitle {
  z-index: 24;
  width: 300px;
  min-height: 28px;
  margin-right: -10000px;
  margin-top: 59px;
  margin-left: -1.2em;
  left: 161px;
  display: inline;
  float: left;
  position: relative;
  color: #4d6363;
}

.header_subtitle_text {
  z-index: 24;
  width: 400px;
  min-height: 28px;
  margin-right: -10000px;
  line-height: 22px;
  font-size: 28px;
  color: #65C8D0;
  letter-spacing: 3px;
  text-align: left;
  font-family: 'open sans', sans-serif;
  font-weight: 100;
  position: relative;
  display: inline;
  float: left;
}

.header_hr_div {
    padding-top: 82px;
}

.header_hr {
  width: 100%;
  height: 2px;
  border-color: #94B0C3;
  background-color: #749AA8;
  border-top: 0;
  border-bottom: 0;
  z-index: 31;
}

.header_alert {
    float: right;
    margin-bottom: -1em;
    margin-top: -5em;
    margin-right: 2em;
    color: white;
    font-weight: bold;
}

.menu_style {
    z-index: 10 !important;
}

.menu_anchor_style {
    position: absolute !important;
    right: 20em !important;
    top: 2em !important;
}

.buttonTrends {
  font-size: 18px !important;
}

.menu_list_item {
    font-size: 100%;
}

.navbar {
    padding: 0.9em 0 !important;
    margin-top: -1.5em !important;
    margin-left: auto !important;
}

.navbar > div > div {
    left: -8em;
    top: 2.3em;
    z-index: 9999;
}

.navbar > div {
    display: contents;
}

.navbar > a, .navbar > div > a {
    font-size: large;
    padding: 0.5em;
    color: #FFFFFF;
    font-weight: bold;
}

@media screen and (max-device-width: 840px) {
    .navigation_item {
        font-size: 120% !important;
    }

    .menu_list_item {
        font-size: 150% !important;
    }

    .header_banner {
        width: 1000px;
    }

    .header_subtitle {
        width: auto;
    }

    .navbar > a, .navbar > div > a {
        font-size: 150% !important;
        padding: 0.42em;
    }

    .header_banner {
        height: 134px;
    }
}
