body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav ul {
    list-style: none;
    text-align: center;
    bottom: 0;
    padding: 6em 0 !important;
    margin: 0;
}

.nav li, .dropdown, .dropdownLink {
    font-size: 1.1em;
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #888888;
}

.dropdown, .dropdownLink {
    font-size: 1.0em;
    border-bottom: none;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: 700;
    transition: .3s background-color;
}

.nav a:hover, .dropdown:hover, .dropdownLink:focus {
    background-color: #bdbdbd;
    color: #385d71;
}

.nav a.active {
    background-color: #385d71;
    color: #FFFFFF;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 160px;
        border-bottom: none;
        height: 36px;
        line-height: 36px;
    }

    /* Option 1 - Display Inline */
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}

.header_banner {
    width: 100%;
    height: 132px;
    margin: 0 auto;
    background: -webkit-linear-gradient(top, #6396b2, white 100%);
    background: -moz-linear-gradient(top, #6396b2, white 100%);
    background: -ms-linear-gradient(top, #6396b2, white 100%);
    background: -o-linear-gradient(top, #6396b2, white 100%);
    background: linear-gradient(to bottom, #1d85ac,#467a9e);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6396B2', endColorstr='#FFFFFF', GradientType=0)";
    text-align: center;
}

.header_image {
    z-index: 32;
    width: 90px;
    height: 90px;
    margin-right: -10000px;
    margin-top: 0.5em;
    margin-left: 1.6em;
    left: 5px;
    float: left;
    position: relative;
    pointer-events: none;
}

.header_image_two {
    z-index: 32;
    width: 90px;
    height: 90px;
    margin-right: -10000px;
    margin-top: 0.0em;
    margin-left: -0.3em;
    left: 5px;
    float: left;
    position: relative;
    pointer-events: none;
}

.header_title {
    z-index: 63;
    width: 570px;
    min-height: 75px;
    margin-right: -10000px;
    margin-top: 15px;
    margin-left: -1.2em;
    left: 161px;
    display: inline;
    float: left;
    text-align: left;
    position: relative;
    pointer-events: none;
}

.header_title_text {
    font-family: Gentium Book Basic, serif;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #FFF;
    font-weight: 600;
    margin: 0;
    pointer-events: none;
}

.header_subtitle {
    z-index: 24;
    width: 300px;
    min-height: 28px;
    margin-right: -10000px;
    margin-top: 59px;
    margin-left: -1.2em;
    left: 161px;
    display: inline;
    float: left;
    position: relative;
    color: #4d6363;
    pointer-events: none;
}

.header_subtitle_text {
    line-height: 22px;
    width: 400px;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    letter-spacing: 3px;
    color: #65c8d0;
    text-align: left;
    font-weight: 100;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.dropdownList {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 #888888;
    z-index: 2;
}

.dropdownList a {
    color: #000000;
    padding: 0.5em;
}

.showDropdown {
    display: block;
}

@media screen and (max-device-width: 840px) {
    .navigation_item {
        font-size: 120% !important;
    }

    .menu_list_item {
        font-size: 150% !important;
    }

    .header_banner {
        width: 1000px;
    }

    .header_subtitle {
        width: auto;
    }

    .navbar > a, .navbar > div > a {
        font-size: 150% !important;
        padding: 0.42em;
    }

    .header_banner {
        height: 134px;
    }
}