/* Main Carousel Div */

.carouselContainer {
    /*max-width: 50%;*/
    position: relative;
    margin: auto;
    padding: 1em;
    /*float: left;*/
}

/*********************/

/* Buttons and Icons that manually change the Carousel Images */

.navButtons {
    text-align: initial;
}

.navIcons {
    text-align: center;
    cursor: pointer;
    margin: 0.1em;
}

.backButton, .forwardButton {
    position: absolute !important;
    top: 50%;
    margin-top: -6em;
    background-color: #3E80AA !important;
    color: #FFFFFF !important;
}

.backButton {
    margin-left: 1.4em !important;
}

.forwardButton {
    margin-left: 26em !important;
}

.navIconsPosition {
    margin-left: 5.5em;
    color: #FFFFFF;
 }

/*********************/

/* Captions style if Utilized */

.captionStyle {
    background-color: white;
    font-size: 1.5em !important;
    padding: 0 1em 1em 1em !important;
    width: 20em !important;
    height: 2.5em !important;
}

/**************************************************************/

/* Style for the Images displayed in the Carousel */

.imageTransition {
    animation: imageTransition 3s ease-in-out alternate;
}

@keyframes imageTransition {
    0%, 100% {
        opacity: .8;
    }
    40%, 60% {
        opacity: 1;
    }
}

.carouselImages {
    display: none;
}

.imageSize {
    /*height: 20em;*/
    width: 30em;
    object-fit: contain;
}

/**************************************************/
