.header_container {
    width: 100%;
    height: 132px;
    color: #d7e3e7;
    margin: 0 auto;
}

.header_banner {
    width: 100%;
    height: 132px;
    background: -webkit-gradient(linear, center top, center bottom, from(#1D85AC), color-stop(100%, #467A9E));
    background: -webkit-linear-gradient(top, #1D85AC, #467A9E 100%);
    background: -moz-linear-gradient(top, #1D85AC, #467A9E 100%);
    background: -ms-linear-gradient(top, #1D85AC, #467A9E 100%);
    background: -o-linear-gradient(top, #1D85AC, #467A9E 100%);
    background: linear-gradient(to bottom, #1D85AC, #467A9E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1D85AC, endColorstr=#FF467A9E, GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1D85AC', endColorstr='#FF467A9E', GradientType=0)";
    text-align: center;
}

.header_image {
  width: 90px;
  margin-left: 1.6em;
  z-index: 32;
  margin-right: -10000px;
  margin-top: 1.65em;
  float: left;
}

.header_title {
    z-index: 63;
    min-height: 75px;
    margin-right: -10000px;
    margin-top: 15px;
    margin-left: -35px;
    left: 161px;
    display: inline;
    float: left;
    text-align: left;
    position: relative;
}

.header_title_text{
    font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    font-weight: lighter;
}

.header_subtitle {
  z-index: 24;
  width: 300px;
  min-height: 28px;
  margin-right: -10000px;
  margin-top: 60px;
  margin-left: -1.2em;
  left: 146px;
  display: inline;
  float: left;
  position: relative;
  color: #4d6363;
}

.header_subtitle_text {
    z-index: 24;
    width: 400px;
    min-height: 28px;
    margin-right: -10000px;
    line-height: 22px;
    font-size: 28px;
    letter-spacing: 5px;
    color: #F5F5F5;
    text-align: left;
    font-weight: lighter;
}

.header_hr_div {
    padding-top: 82px;
}

.header_hr {
  width: 100%;
  height: 2px;
  border-color: #94B0C3;
  background-color: #749AA8;
  border-top: 0;
  border-bottom: 0;
  z-index: 31;
}

.header_alert {
    float: right;
    margin-bottom: -1em;
    margin-top: -5em;
    margin-right: 2em;
    color: white;
    font-weight: bold;
}

ul.navbar {
    float: right;
    margin-right: 34px;
    margin-top: -2px;
    position: relative;
}

@media screen and (max-device-width: 840px) {
    .navigation_item {
        font-size: 120% !important;
    }

    .menu_list_item {
        font-size: 150% !important;
    }

    .header_banner {
        width: 1000px;
    }

    .header_subtitle {
        width: auto;
    }
}

ul.navbar > li {
    width: 148px;
    height: 29px;
    background-color: #cdcfd3;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    font-family: "Roboto", Trebuchet MS, Helvetica, Arial, sans-serif;
    font-weight: lighter;
    margin-right: 15px;
    display: inline-block;
    border-radius: 25px;
    -moz-border-radius: 30px;
    position: relative;
    z-index: 1000;
}

ul.navbar > li > div.dropdown > a,
ul.navbar > li > a,
ul.navbar > li > button,
ul.navbar > li > span,
.navigation_item{
    width: 148px;
    height: 29px;
    border-radius: 25px;
    -moz-border-radius: 30px;
    margin-right: 15px;
    text-decoration: none;
    color: #517187;
    position:relative;
    display: block;
    top: 3px;
    cursor: pointer;
}

ul.navbar > li:hover {
    background-color: #5f99c1;
}

ul.navbar > li:hover > div.dropdown > a,
ul.navbar > li:hover > a,
ul.navbar > li:hover > button,
ul.navbar > li:hover > span {
    text-decoration: none !important;
    color: white !important; }

ul.navbar > li.active {
    background-color: #5f99c1; }

ul.navbar > li.active > div.dropdown > a,
ul.navbar > li.active > a,
ul.navbar > li.active > button,
ul.navbar > li.active > span {
    text-decoration: none !important;
    color: white !important; }

.rounded-btn .btn.active {
    color: white;
    background-color: #5f99c1; }

.rounded-btn .btn.active a {
    color: white;
    background-color: #5f99c1; }

.rounded-btn {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: #cdcfd3; }

.rounded-btn:hover {
    border-color: #517187;
    background-color: #5f99c1; }

.rounded-btn a.hover {
    color: white; }

.link-clickable {
    cursor: pointer; }

.trendsButton {
    color: #517187 !important;
    height: 29px !important;
    line-height: 22px !important;
    font-size: 18px !important;
    letter-spacing: 1px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800 !important;
    -moz-border-radius: 30px !important;
}

.menu_style {
    z-index: 10 !important;
}

.menu_anchor_style {
    position: absolute !important;
    right: 20em !important;
    top: 2em !important;
}

.buttonTrends {
  font-size: 18px !important;
}

.menu_list_item {
    font-size: 100%;
}

.navbar {
    padding: 0.9em 0 !important;
    margin-top: -1.5em !important;
    margin-left: auto !important;
}

.navbar > div > div {
    left: -8em;
    top: 2.3em;
    z-index: 9999;
}

.navbar > div {
    display: contents;
}

.navbar > a, .navbar > div > a {
    font-size: large;
    padding: 0.5em;
    color: #FFFFFF;
    font-weight: bold;
}

@media screen and (max-device-width: 840px) {
    .navigation_item {
        font-size: 120% !important;
    }

    .menu_list_item {
        font-size: 150% !important;
    }

    .header_banner {
        width: 1000px;
    }

    .header_subtitle {
        width: auto;
    }

    .navbar > a, .navbar > div > a {
        font-size: 150% !important;
        padding: 0.42em;
    }

    .header_banner {
        height: 134px;
    }
}
