.nav ul {
  list-style: none;
  background-color: #17495B;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #467A9E;
}

.selected {
  background-color: #467A9E;
}

@media screen and (min-width: 800px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

}

.menu_items {
  white-space: nowrap;
}

.menu_items a:link{
  text-decoration: none;
  color: white;
}

.menu_items a:visited{
  text-decoration: none;
  color: white;
}

.white_color {
  color: white !important;
}

.inline {
  display: inline !important;
}
.menu_style {
  background-color: #3f51b5 !important;
  z-index: 10;
}

.button_style {
  width: 12em;
}